################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Source/BearServerAuth/.vs/BearServerAuth/FileContentIndex
