@using BearServerAuth

<link rel="stylesheet" href="~/css/LeftPanel.css" asp-append-version="true" />
<script src="~/js/LeftPanel.js"></script>

<div id="mySidenav" class="sidenav">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>
