@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/AccountStyle.css" />

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h2 class="fw-bold mb-2 text-uppercase">Создать Аккаунт</h2>
                        <div class="mb-md-5 mt-md-4">

                              <form id="registerForm" asp-route-returnUrl="@Url.Page("/Login")" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-outline mb-4">
                                  <input asp-for="m_viewModel.Login" class="form-control" autocomplete="username" aria-required="true" />
                                <label asp-for="m_viewModel.Login">Логин (псевдоним)</label>
                                <span asp-validation-for="m_viewModel.Login" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                  <input asp-for="m_viewModel.Email" class="form-control" autocomplete="Email" aria-required="true" />
                                <label asp-for="m_viewModel.Email">Эл. почта</label>
                                <span asp-validation-for="m_viewModel.Email" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                  <input asp-for="m_viewModel.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                <label asp-for="m_viewModel.Password">Пароль</label>
                                <span asp-validation-for="m_viewModel.Password" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                  <input asp-for="m_viewModel.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                <label asp-for="m_viewModel.ConfirmPassword">Подтверждение пароля</label>
                                <span asp-validation-for="m_viewModel.ConfirmPassword" class="text-danger"></span>
                                </div>

                                @* <div class="form-check d-flex justify-content-center mb-5">
                                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                                  <label class="form-check-label" for="form2Example3g">
                                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                                  </label>
                                </div> *@

                                <div class="d-flex justify-content-center">
                                  <button id="registerSubmit" type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Регистрация</button>
                                </div>

                                
                                
                              </form>
                            
                        </div>
                        <div>
                            <p class="mb-0">
                                Уже есть аккаукт? <a asp-page="/Account/Login" class="text-white-50 fw-bold">Войти</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
